extends basic-layout.pug

block head-content
  link(rel="stylesheet", href="/static/css/wrapper.css")

block content
  div(class="container wrapper")
    div(class="row")
      div(class="content topBar col-11 col-md-9")
        div(class="Tabs") 
          ul
            li 技术
            li 创意 
            li 好玩
            li Apple
            li 酷工作
            li 城市
            li 问与答
            li 最热
            li 全部
            li R2
            li 节点
            li 关注
        div(class="SecondaryTabs")
          ul
            li  程序员
            li  Python
            li  iDev 
            li  Android
            li  Linux
            li  node.js
            li  云计算
            li  宽带症候群
        ul
          each post in posts
            li(class="postList row").post_item
              div(class="")
                a(href= `/user/${post.userId}`)
                  img(src= post.avatar  alt= post.name width="48")
              div(class="col-9 col-md-9")
                div
                  a(href = `/post/${post.id}`)= post.title
                div
                  a(href= `/user/${post.userId}`)
                    span=post.name
                  |
                  |
                  span 发布时间: #{new Date(post.createdAt).toLocaleString()}
              div(class="col-3 col-md-2 commentNumber")
                a(href = `/post/${post.id}`) 99
      div(class="sidebar col-1 col-md-3")
        if(user)
          div(class="login-info")
              div(class='profile')
                div
                  img(src= user.avatar, alt= user.name width="48")
                div=user.name
                div(class="cutTheme") XO
              hr
              div(class="collect")
                div 节点收藏
                |
                |
                div 主题收藏
                |
                |
                div 特别关注
              div(class="post")
                a(href='/post') 发贴
        else
          div(class="login-info")
            h3  EXPLORE
            p(class="introduce") Explore 是一个关于分享和探索的地方
            hr
            div(class="login-info-login")
              a(href='/register')  现在注册
              p 已注册用户请
                |
                |
                a(href='/login') 登录 
        div(class="hotPost")
          h3 今日热议主题
          ul
            li 贾宝玉初试云雨情 刘姥姥一进荣国府
            li 贾夫人仙逝扬州城 冷子兴演说荣国府
            li 王熙凤毒设相思局 贾天祥正照风月鉴
            li 金寡妇贪利权受辱 张太医论病细穷源
            li 比通灵金莺微露意 探宝钗黛玉半含酸
        div(class="siteStatic") 
          h3 社区运行状况
          p 注册会员  15
          p 主题  10
          P 回复  25
          
  
